{% extends "base.html" %}
{% load static %}

{% block extra_title %} All Categories {% endblock %}

{% block content %}

<div class="container">
    <div class="product-list">
        {% if cart_items %}

        <div class="row">
            <!-- Cart information section -->

            {% for item in cart_items %}
            <div class="col-xs-12 col-lg-9">

                <table class="table table-sm table-borderless text-white">
                    <thead>
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Size</th>
                            <th scope="col">Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% if item.product.image %}
                                <img class="card-img-top img-fluid w-10" src="{{ item.product.image.url }}"
                                    alt="{{ product.name }}">
                                {% else %}
                                <img class="card-img-top img-fluid" src="/media/defaultimage.png"
                                    alt="{{ product.name }}">
                                {% endif %}</td>
                            <td><a href="{% url 'products' %}"> Product: {{ item.product.name }}</a></td>
                            <td><strong class="price">£{{ item.product.price }}</strong></td>
                            <td>
                                <form class="form update-form" method="POST" action="">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            {% if item.product.shoe_size %}
                                                Size: {{ item.size|upper }}
                                                {% else %}
                                                <strong>N/A</strong>
                                                {% endif %}
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                            
                                            
                                        </div>
                                    </div>
                                </form>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            {% endfor %}

            <!-- Cart total Cost section -->
            <div class="col-xs-12 col-lg-3">

                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cart Total: £{{ total|floatformat:2 }}</li>
                        <li class="list-group-item">Delivery: £{{ delivery|floatformat:2 }}</li>
                        <li class="list-group-item">
                            <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </li>
                        <li class="list-group-item"><a href="#" class="btn btn-primary mb-2 w-100">Checkout</a> <a
                                href="{% url 'products' %}" class="btn btn-outline-primary w-100">Back to Shopping</a>
                        </li>
                    </ul>
                </div>

            </div>


        </div>


    </div>
    {% else %}
    <h3>Cart is empty!</h3>

    {% endif %}
</div>

</div>

{% endblock %}