{% extends "base.html" %}
{% load static %}

{% block extra_title %} Profile {% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">

        <div class="col">

            <h3>Hello</h3>

            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>

        </div>

    </div>
    

</div>


{% endblock %}