/* html {
    height: 100%;
} */

body {
    background-color: beige;
}

.product-body {
    background-color: aqua;
    min-height: 80vh;
}

.product-list {
    background-color: blue;
}

/* ------------- Media Queries -------------*/
