/* html {
    height: 100%;
} */

body {
    background-color: beige;
}

.product-body {
    background-color: aqua;
    min-height: 80vh;
}

.product-list {
    background-color: blue;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* ------------- Media Queries -------------*/
