<div class="collapse navbar-collapse" id="main-nav">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 w-auto mx-auto">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Boots</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Casual</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Smart</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Smart Shoes</a>
            <ul class="dropdown-menu">

              <li><a class="dropdown-item" href="#">Casual</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Smart</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Casual</a>
            <ul class="dropdown-menu">

              <li><a class="dropdown-item" href="#">Casual</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Smart</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Flip Flops</a>
            <ul class="dropdown-menu">

              <li><a class="dropdown-item" href="#">Casual</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Smart</a></li>
            </ul>
          </li>
        </ul>

    <!-- <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="boots-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boots
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boots-link">
                <a href="" class="dropdown-item">Casual</a>
                <a href="" class="dropdown-item">Smart Boots</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="smart-shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Smart Shoes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="smart-shoes-link">
                <a href="" class="dropdown-item">Work shoes</a>
                <a href="" class="dropdown-item">Part shoes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="casual-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Casual
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="casual-link">
                <a href="" class="dropdown-item">Trainers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="flip-flops-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flip Flops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flip-flops-link">
                <a href="" class="dropdown-item">Beach</a>
                <a href="" class="dropdown-item">Home flop flops</a>
            </div>
        </li>

    </ul> -->
</div>