{% extends "base.html" %}
{% load static %}

{% block extra_title %} All Categories {% endblock %}

{% block content %}

<div class="container-fluid product-body">
    <div class="container product-list">
        <div class="row">
            {% for cat in categories %}
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{cat.category_name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'product-category' %}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
              {% endfor %}
    
        </div>
    </div>

</div>

{% endblock %}
