{% extends "base.html" %}
{% load static %}

{% block extra_title %} All Products {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="#" alt="">

        </div>
        <div class="col-lg-6">
            <p>Product Name: {{product_detail.product_name}}</p>
            <p>Category: </p>
            <p>Description: </p>
            <p>Sku: </p>
            <p>Price: </p>

        </div>
    </div>
</div>

{% endblock %}